<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width ,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Getting Started</title>
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />

<style type="text/css">
    .App {
        text-align: center;

        font-family: "Poppins", sans-serif;
    }

    .navbar {
        background: black;
    }

    .navbar-brand {
        color: white;
        font-weight: 600;
    }

    .navbar-brand:hover {
        color: #3dcfd3;
        transition: all 0.3s ease;
    }

    .nav-item {
        padding-left: 2rem;
    }

    .nav-link {
        color: white;
    }

    .nav-link:hover {
        color: #3dcfd3;
        transition: all 0.3s ease;
    }

    .jumbotron {
        background: black;
    }

    .jumbotron img {
        width: 500px;
    }
</style>
</head>

<body>
    
    <div class="App">
        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand " href="./">
                CompBrats
            </a>

            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/index.html">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Prediction
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'add' %}">
                        Add Item
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="jumbotron">
            <img src="logo1.png" alt="logo"></img>
        </div>
    
    <div class="container">
        <form method="POST" enctype="multipart/form-data" action="predictSales">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-md-2 mt-1">
                        <label for="item_no">Item No. :</label>
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="text" class="form-control " name="item_no" id="item_no" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-md-2 mt-1">
                        <label for="sales">Sales :</label>
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="text" class="form-control " name="sales" id="sales" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-md-2 mt-1">
                        <label for="date">Date :</label>
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="text" class="form-control " name="date" id="date" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <button class="btn btn-success" type="submit">
                        Add Item
                    </button>
                </div>
            </div>
        </form>
    </div>
    
</body>

</html>